@import '../../../styles/variables';

.warehouse-detail {
  .info-title {
    height: 35px;
    border-bottom: 1px solid #e8e8e8;
    margin-left: -10px;
    margin-right: -10px;
  }
  .title-default {
    color: $red;
    font-weight: 500;
  }
  .title-warehouse {
    margin-bottom: 2rem;
  }
}
