.banner-content {
  .ant-descriptions-item {
    display: flex;
    align-items: center;
  }
}
.banner-preview {
  .label-input {
    white-space: nowrap;
    font-weight: 500;
    color: #3d464d;
    font-size: 12px;
  }
}
