.product-grouping {
  .ant-table-small {
    .ant-table-title {
      border-top: none !important;
    }
  }
}
.product-detail-general {
  .label-image {
    margin-top: -60px;
  }
  .form-price {
    .ant-form-explain {
      margin-left: 30%;
    }
  }
}
