.table-scroll {
  .ant-form-item-children {
    margin-right: 0 !important;
  }
  .form-control {
    max-width: 100% !important;
  }
  .ant-row.ant-form-item {
    padding-right: 0 !important;
  }
}
